---
interface Props {
  title: string;
  description: string;
  link: string;
  github: string;
  image: string;
}

const { title, description, link, github, image } = Astro.props;
---

<div class="max-w-sm border rounded-lg shadow m-3 card-bg">
  <a href={link} target="_blank">
    <img class="rounded-t-lg h-48 w-full" src={image} alt="" />
  </a>
  <div class="p-5">
    <a href={link} target="_blank">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white"
      >
        {title}
      </h5>
    </a>
    <p class="mb-3 text-justify font-normal text-gray-200 dark:text-gray-600">
      {description}
    </p>
    <!-- Github button -->
    {github && (
      <a
        href={github}
        target="_blank"
        class="inline-flex items-center px-3 py-2 text-sm text-center text-black bg-white rounded-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-700 font-semibold"
      >
        Github
        <svg
          class="rtl:rotate-180 w-6 h-6 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M12 2C6.48 2 2 6.48 2 12c0 4.41 2.87 8.16 6.84 9.5..."
          />
        </svg>
      </a>
    )}

    <!-- Live demo button -->
    {link && (
      <a
        href={link}
        target="_blank"
        class="inline-flex items-center px-3 py-2.5 text-sm text-center text-black bg-white rounded-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-700 font-semibold ms-2"
      >
        Live
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    )}

  </div>
</div>

<style>
  .card-bg {
    box-shadow:
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px,
      rgba(63, 64, 67, 0.29) 0px 0px 0px 1px inset;
    border: 1px solid white;
  }
</style>
